

@model Medacademy.Models.TopicModel
<div class="modal-dialog modal-md">
    <div class="modal-content" style="border-radius: 3px;">
        <div class="modal-header">
            Edit Topic<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        @using (Ajax.BeginForm("EditTopic", "Admin", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "TopicEditSuccess",
            OnFailure = "TopicEditFailed",
        }, new { id = "form-login" }))
        {
            <div class="modal-body">
                <form>
                    @Html.TextBoxFor(m => m.TopicID, new { type = "hidden" })
                    @Html.TextBoxFor(m => m.SubjectID, new { id = "sbjId", type = "hidden" })
                    @Html.TextBoxFor(m => m.PackageID, new { id = "pkgId", type = "hidden" })
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Course</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.CourseID, Ma.EntityLibrary.Data.Dropdowndata.GetCourseDrop(), "--Choose--", new { @class = "form-control", id = "courseDrop" })
                            @Html.ValidationMessageFor(m => m.CourseID)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Package</label>
                        <div class="col-sm-8">


                            <select id="PackageID" class="form-control" disabled>
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Subject</label>
                        <div class="col-sm-8">
                            <select id="SubjectID" class="form-control" disabled>
                                <option>Select</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.TopicName, new { @class = "form-control", placeholder = "Topic Name" })
                            @Html.ValidationMessageFor(m => m.TopicName)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">&nbsp;</label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" style="margin-right:10px">Close</button>
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>


        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    function TopicEditSuccess(result) {
        if (result.status) {
            $('#editTopic').modal('hide');
            toastrSuccess(result.msg);
            refreshTopicGrid();
        }
        else {
            toastrError(result.msg);
        }
    }
    function TopicEditFailed() {
        toastrError('Topic Editing Failed');
    }

    $(document).on('change', '#courseDrop', function () {
        var Id = $(this).val();
        $.ajax({
            url: '/Admin/Getpackages?courseid=' + Id,
            type: "GET",
            dataType: "json",
            success: function (result) {
                if (result.List.length > 0) {
                    $("#PackageID").html(""); // clear before appending new list
                    $("#PackageID").append($('<option></option>').val("").html('Select'));
                    $.each(result.List, function (i, item) {
                        $("#PackageID").append($('<option></option>').val(item.Value).html(item.Text));
                    });
                    $("#PackageID").prop("disabled", false);
                }
                else {
                    $("#PackageID").html(""); // clear before appending new list
                    $("#PackageID").append($('<option></option>').val("").html('No data found'));
                    $("#PackageID").prop("disabled", true);
                }
            }
        });
    });

    $(document).on('change', '#PackageID', function () {
        var id = $(this).val();
        $('#PackageID').val(id);
        if (id != '') {
            //  resetDropDown('Package');
            $.ajax({
                url: '/Data/LoadSubjects?packageid=' + id,
                type: "GET",
                success: function (result) {
                    if (result.list.length > 0) {
                        $("#SubjectID").html(""); // clear before appending new list
                        $("#SubjectID").append($('<option></option>').val("").html('-- Select Subject --'));
                        $.each(result.list, function (i, item) {
                            $("#SubjectID").append($('<option></option>').val(item.Value).html(item.Text));
                        });
                        $("#SubjectID").prop("disabled", false);
                    }
                    else {
                        resetDropDown('Class');
                        $("#SubjectID").html(""); // clear before appending new list
                        $("#SubjectID").append($('<option></option>').val("").html('-- No Subject Found --'));
                        $("#SubjectID").prop("disabled", true);
                    }
                }
            });

        }
        else {
            resetDropDown('Class');
        }
    });

    $(document).on('change', '#SubjectID', function () {
        var Id = $('#SubjectID').val();
        $('#sbjId').val(Id);
    });

</script>
