@model Medacademy.Models.ContactUsModel
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="breadcrumbsSection uppercontact_section"  style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="breadcrumbs">
                    <h1>Contact Us</h1>
                    <ul>
                        <li><a href="/Accounts/Index">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div><!-- ./breadcrumbs -->

            </div>
        </div>
    </div>
</section>
<!-- ./breadcrumbsSection -->

<section class="contact_sction commSec">
    <div class="container">
        <div class="col-12">
            <div class="connecting_pg">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                       
                            <div class="left_white">
                                <h4 class="contact_title">Want to know more about Medacademy and its programs ?</h4>
                                <p>Just write to us using the response from below.</p>
                                <div class="contact_forms">
                                    <div class="form-group">
                                        <label for="Name">Name<sup style="color: #f00;">*</sup></label>
                                        @Html.TextBoxFor(m => m.name, new { @class = "form-control my_form contact_input full-name-clear", placeholder = "your full name" })
                                        @Html.ValidationMessageFor(m => m.name)
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email<sup style="color: #f00;">*</sup></label>
                                        @Html.TextBoxFor(m => m.email, new { @class = "form-control my_form contact_input email-clear", placeholder = "your e-mail address", id = "Email" })
                                        @Html.ValidationMessageFor(m => m.email)
                                    </div>
                                </div>
                                <div class="contact_forms">
                                    <div class="form-group">
                                        <label>Contact Number<sup style="color: #f00;">*</sup></label>
                                        @Html.TextBoxFor(m => m.contactNo, new { @class = "form-control my_form contact_input contact-clear", placeholder = "your contact number", maxlength = 15 })
                                        @Html.ValidationMessageFor(m => m.contactNo)
                                    </div>
                                    @*<div class="form-group">
                                            <label>School<sup style="color: #f00;">*</sup></label>
                                            <input type="email" class="form-control inner_label" placeholder="Name of your school">
                                        </div>*@
                                </div>
                                <div class="messagbx">
                                    <div class="form-group">
                                        <label>Message<sup style="color: #f00;">*</sup></label>
                                        @Html.TextAreaFor(m => m.messgae, new { @class = "form-control my_form contact_input my_text_area msg-clear", placeholder = "Type your message here", @rows = "3", @style = "resize:vertical;" })
                                        @Html.ValidationMessageFor(m => m.messgae)
                                    </div>
                                    <div class="mail_btn">
                                        <a id="submit-btn-dummy-reg" class="isPointer"><img src="~/Content/images/send_btn.png"></a>
                                        @*<button id="BtnSubmit" type="submit" class="isHidden">Register</button>*@
                                        <script>
                                            $(document).on('click', '#submit-btn-dummy-reg', function () {
                                                SubmitContact();
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 blue_sec">
                        <div class="right_blue">
                            <h4 class="white_right">Reach us</h4>
                            <div class="contact_loc">
                                <div class="loc_img">
                                    <img src="~/Content/images/contact_single.png" class="filter">
                                </div>
                                <div>
                                    <p>Mannam Academy of Arts and Science College<br/>Thycaud, MG Radhakrishnan Road<br />Thiruvananthapuram<br />Kerala -695014</p>
                                </div>
                            </div>
                            <div class="contact_loc">
                                <div class="loc_img">
                                    <img src="~/Content/images/phone_single.png" class="filter">
                                </div>
                                <div>
                                    <p>9895280094</p>
                                </div>
                            </div>
                            <div class="contact_loc">
                                <div class="loc_img">
                                    <img src="~/Content/images/mail_single.png" class="filter">
                                </div>
                                <div>
                                    <p>medacademy.co.in@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function ContactUsSuccess(result) {
        if (result.status) {

            //toastrSuccess('Thank you for showing interest in us. We will contact you soon.');
            $('#select-option-modal').modal('show');
            $('.full-name-clear').val("");
            $('.email-clear').val("");
            $('.contact-clear').val("");
            $('.msg-clear').val("");
        }


        else {
            $('#answer-wrong-modal').modal('show');
        }
    }

    function SubmitContact() {
     

        var ob = new Object();
        ob.name = $('#name').val();
        ob.email = $('#Email').val();
        ob.contactNo = $('#contactNo').val();
        ob.messgae = $('#messgae').val();

       

        $.ajax({
            url: "/Accounts/Contact",
            type: "POST",
            dataType: 'json',
            data: ob,
            global: false,
            success: function (response) {
                if (response.status) {
                  
                    toastrSuccess(response.msg);
                    window.location.href = '/Accounts/ContactUs';
                }
                else {
                    toastrError(response.msg);
                    //window.location.href = '/Module/UserTypeDefineHome/';
                }
            },
        });
    }
</script>
